.employee-dashboard {
    text-align: center;
    font-family: Arial, sans-serif;

  }
  
  .employee-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
  }
  
  .employee-card {
    background-color: #f9f9f9;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .employee-details {
    display:block;
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  
  .employee-buttons {
    display: flex;
    justify-content:center;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  
  .editEmployee {
    background-color: #4CAF50; 
  }
  
  .deleteEmployee {
    background-color: #f44336;
  }

  .addEmployee{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: green;
    color: black;
    font-weight: bolder;
  }